public function index(Request $request)
{
$search = $request->cari;
$categories = Category::all();
$searchDate = $request->filled('tanggal') ? $request->input('tanggal') : Carbon::now()->toDateString();

if (!$search) {
$datas = Lab::all();
$usedLabsId = Order::join('labs', 'orders.id', '=', 'labs.id')
->whereDate('orders.order', '=', $searchDate)
->pluck('orders.id_lab')
->toArray();

$datas = $datas->filter(function ($lab) use ($usedLabsId) {
return !in_array($lab->id, $usedLabsId);
});
} elseif ($search != null) {
$datas = Lab::where('nama_lab', 'like', '%' . $search . '%')->get();
}

if ($datas->isEmpty()) {
return view('auth.user.produk', ['title' => 'Silab | Sewa Lab'], compact('datas', 'categories'))
->with('message', 'Tidak Ada Data Yang Sesuai Dengan Pencarian Anda');
} else {
return view('auth.user.produk', compact('datas', 'categories', 'searchDate'))->with('title', 'Silab | Sewa Lab');
}
}